body{
    background-color: #e3cca1;
    font-family: "trebuchet MS", Arial, Helvetica, sans-serif;
}
#container{
    width: 750px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    background-color: #FFF;
    border-right: solid 2px #52331c;
    border-left: solid 2px #52331c;
}
/*TEXT SYLES*/
h1{
    font-family: "Arial Black" gadget, sans-serif;
    font-size: 76px;
    color: #4d331e;
    margin-top: 0px;
    margin-bottom: 0px;
}
h2{
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 26px;
}
h3{
    font-weight: bold;
    margin-top: 0px;
    font-size: 26px;
    color: #4d331e;
}
p{
    font-size: 16px;
    color: #4d331e;
    padding: 0px;
    margin-top: 6px;
    margin-bottom: 6px;
}
/*MENU SECTION*/
#menu{
    width: 170px;
    float: left;
}
#menu ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#menu li{
    background-color: #e8cc9e;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;
}
#menu a:link, menu a:visited{
    color: #060;
    font-weight: bold;
    text-decoration: none;
}
#menu a:hover{
    color: #900;
    text-decoration: underline;
}
/*MAIN SECTION STYLES*/
#main{
    margin-left: 109px;
}
#main h3{
    color: #4d331e;
    margin-top: 20px;
    margin-bottom: 4px;
    font-size: 24px;
}
#main p{
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 6px;
}
#main a:link, main a:visited{
    color: #900;
    font-weight: bold;
    text-decoration: none;
}
#main a:hover{
    color: #03c;
    text-decoration: underline;
}
/*FOOTER SECTION*/
#footer {
    background-color: #4d331e;
    margin-top: 20px;
    clear: both; /*MAKES THE FOOTER ALWAYS SIT UNDERNEATH MENU AND IMAGE*/
}
#footer p{
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0px;
    color: #fff;
    text-align: center;
}
#footer a:link, footer a:visited{
    color: #e8cc9f;
    text-decoration: underline;
}
#footer a:hover{
    color: #000;
    text-decoration: none;
}
/*LINK STYLES*/
a:link, a:visited{
    color: #060;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: #900;
    text-decoration: underline;
}
/*CLASS STYLEs*/
.rightfloat{
    border: 2px solid #060;
    margin: 8px;
    float: right;
}